[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pillow = "*"

[packages]
utils = "*"
praw = "*"
requests = "*"
python-dotenv = "*"
derw = {git = "https://github.com/notderw/python-util"}
twitch-python = "*"

[requires]
python_version = "3.8"
