[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pillow = "*"

[packages]
derw = {git = "https://github.com/notderw/python-util"}
asyncpraw = "*"
twitchapi = "*"
pydantic = "*"
pyyaml = "*"
aiopath = "*"
libsass = "*"
pillow = "*"
aiohttp = "*"

[requires]
python_version = "3.11"

[scripts]
bot = "python vinesauce_twitch.py"
