[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
praw = "*"
google-api-python-client = "*"
pydantic = "*"
pymongo = "*"

[requires]
python_version = "3.12"

[scripts]
bot = "python vinesauce_youtube.py"
